.page-stages{
    padding-top: 100px;
    h3{
        text-align: center;
        color: var(--title--color);
        font-size: 36px;
       font-weight: 900;
    }
    &__wrap{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 95px 15px;
    }
    &__item{
        position: relative;
        flex-basis: calc(34.33333% - 30px);
        padding: 69px 23px;
        border: solid 1px var(--accent);
        span{
            position: absolute;
            top: -64px;
            left: -7px;
            display: block;
            padding: 10px;
            width: 113px;
            height: 101px;
            font-weight: 500;
            font-size: 24px;
            background-color: var(--accent);
            color: var(--text-white);
        }
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        max-width: 250px;
        margin-left: 22px;
        h4{
            font-size: 15px;
            font-weight: 900;
            margin-bottom: 15px;
        }
        p{
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            color: var(--text-color);
        }
    }

}
